.contenedor {
    display: flex;
}
.personas {
    width: 150px;
    height: 150px;
    float: left;
    background-color: aliceblue;
    border-radius: 10px;
  } 

@media (max-width:760px){
    .contenedor {
        display: flex;
        flex-direction: column;
    }
}

